body{
	background-color:white;
}
div{
	position:absolute;
	display:block;
	float:left;
}
 div  ul{
	list-style-type:none;
    margin: 10px;
    padding: 1px;
	display:block;
}

li {
    display: block;
	
}