#b1 {
	background-image: url("../images/b4.png");
	z-index: 1;
	height: 22PX;
}
#b2 {
	background-image: url("../images/b2.png");
	width: 100%;
	height: 107PX;
	z-index: 1;
}
#b3 {
	background-image: url("../images/b3.png");
	width: 100%;
	height: 43PX;
	z-index: 1;
}

#call {
	font-family: Bernard MT Condensed;
	color: white;
	margin-top: -41px;
	margin-left: 145px;
	z-index: 1;
}

#call1 {
	font-family: Bernard MT Condensed;
	color: #A2BADC;
	margin-top: -20px;
	margin-left: 302px;
	font-size: 77%;
	z-index: 1;
}

#lt {

	z-index: 1;
}

#lf {

	z-index: 1;
}

#lw {

	z-index: 1;
}

#lm {

	z-index: 1;
}

#link {
	margin-top: -36px;
	margin-left: 635px;
	z-index: 1;
}

#cart {
	font-family: Bernard MT Condensed;
	color: #A2BADC;
	margin-top: -41px;
	margin-left: 972px;
	font-size: 77%;
	z-index: 1;
}

#logo {
	align: left;
	margin-top: 0px;
	margin-left: 20px;
	z-index: 1;
}

#nav {
	display: inline;
	background-color: white;
	opacity: 50;
	text-decoration: none;
	margin-top: 0px;
	margin-left: 20px;
	z-index: 1;
}
#list {
	margin-left: 298px;
	background-color: transparency;
	opacity: 0.4;
	filter: alpha(opacity=100); /* For IE8 and earlier */
	border-radius: 10px;
	text-decoration: none;
	margin-top: 0px;
	margin-left: 20px;
	z-index: 1;
	float: left;
}

#l {
	display: inline;
	display: block;
	width: 110px;
	float: right;
	text-decoration: none;
	padding: 10px 15px;
	font-size: 77%;
	color: white;
}
#l:hover {
	border-radius: 10px;
	background-color: #006E71;
	align-content: center;
}
.form {
	background-image: url("../images/srch.png");
	width: 510px;
	margin: 50px auto;
	font-weight: bold;
}
.form2 {

	width: 510px;
	margin: 50px auto;
	font-weight: bold;
}
.search {
	padding: 6px 72px;
	background: white;
	border: 1px solid #CAC9C7;
}
.button {
	position: relative;
	padding: 4px 16px;
	left: -8px;
	border: 2px solid #9A2B0F;
	font-weight: bold;
	color: #9A2B0F;
	background: -webkit-linear-gradient(#F97C5C, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#F97C5C, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F97C5C, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#F97C5C, white); /* Standard syntax */
}
.button:hover {
	background-color: #F97C5C;
	color: #9A2B0F;
}
.button:hover {
	border: 2px solid #9A2B0F;
	color: #E29271;
	background: -webkit-linear-gradient( #FFFEE9,#FBFEF5); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #FFFEE9,#FBFEF5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #FFFEE9,#FBFEF5); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #FFFEE9,#FBFEF5);
	align-content: center;
}
.button2 {
	border-radius: 5px;
	width: 103px;
	position: relative;
	padding: 4px 16px;
	left: -8px;
	border: 2px solid #D7E1ED;
	font-weight: bold;
	color: #E68E80;
	background: white;
	box-shadow: 3px 3px 11px grey;
}
.button2:hover {
	border-radius: 5px;
	background-color: #048C8C;
	align-content: center;
}

.button3 {
	border-radius: 5px;
	position: relative;
	padding: 4px 16px;
	left: -8px;
	border: 1px solid #268E91;
	font-weight: bold;
	color: #2E8E8D;
	box-shadow: 3px 3px 11px grey;
	background: -webkit-linear-gradient(#57C5C6,#90E2E0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#57C5C6,#90E2E0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#57C5C6,#90E2E0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#57C5C6,#90E2E0);
}
.button3:hover {
	border-radius: 5px;
	background: -webkit-linear-gradient(#F3F3C1,#90E2E0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(##F3F3C1,#90E2E0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F3F3C1,#90E2E0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#F3F3C1,#90E2E0);
	align-content: center;
}

#enter {
	display: block;
}
#image {
	border: 10px solid white;
}

.button4 {
	font-family: Arabic Typesetting;
	border: 2px solid #B0733C;
	border-radius: 20px;
	font-weight: bold;
	color: #FFECE6;
	font-size: 20pt;
	box-shadow: 3px 3px 11px grey;
	background: -webkit-linear-gradient( #FFAB8C,#F3754D); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFAB8C,#F3754D);/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #FFAB8C,#F3754D); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #FFAB8C,#F3754D);
	z-index: 1;
}
.button4:hover {
	border-radius: 20px;
	color: #E29271;
	background: -webkit-linear-gradient( #FFFEE9,#FBFEF5); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #FFFEE9,#FBFEF5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #FFFEE9,#FBFEF5); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #FFFEE9,#FBFEF5);
	align-content: center;
}

#side {
	width: 220px;
	position: relative;
	padding: 4px 16px;
	left: -8px;
	border: 2px solid #D7E1ED;
	font-weight: bold;
	color: black;
	background: white;
	box-shadow: 3px 3px 11px grey;
}
#review {
	font-family: Arabic Typesetting;
	color: black;
	font-size: 25pt;
}
#review2 {
	font-family: Bell MT;
	color: black;
	font-size: 10pt;
}
#line {
	display: inline;
}
#pro {
	font-family: Arabic Typesetting;
	color: #868566;
	font-size: 21pt;
}

.col {
	width: 246px;
	position: relative;
	padding: 4px 16px;
	left: -8px;
	border: 2px solid #D7E1ED;
	font-weight: bold;
	color: black;
	background: white;
	box-shadow: 3px 3px 11px grey;
}
.col1 {
	width: 149px;
	position: relative;
	padding: 4px 16px;
	left: -8px;
	border: 2px solid #D7E1ED;
	font-weight: bold;
	color: black;
	background: white;
	box-shadow: 3px 3px 11px grey;
}
#i2 {
	font-family: Calibri Light;
	color: #A7A7A7;
	font-size: 15pt;
	z-index: 1;
}
.i3 {
	font-family: Calibri Light;
	color: #A7A7A7;
	display: inline;
	font-size: 10pt;
	z-index: 1;
}
.i4 {
	font-family: Calibri Light;
	color: #447C79;
	display: inline;
	font-size: 10pt;
	z-index: 1;
}
.i5 {
	font-family: Calibri Light;
	color: #C78F82;
	font-size: 10pt;
}
.button5 {
	font-family: Arabic Typesetting;
	border: 2px solid #B0733C;
	border-radius: 20px;
	font-weight: bold;
	color: #E29271;
	font-size: 10pt;
	background: -webkit-linear-gradient( #FFFEE9,#FBFEF5); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #FFFEE9,#FBFEF5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #FFFEE9,#FBFEF5); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #FFFEE9,#FBFEF5);
	z-index: 1;
}

.button5:hover {
	border-radius: 20px;
	background: -webkit-linear-gradient(#F3F3C1,#90E2E0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(##F3F3C1,#90E2E0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#F3F3C1,#90E2E0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#F3F3C1,#90E2E0);
	align-content: center;
}

